@font-face {
  font-family: nb;
  src: url("./fonts/NBInternationalProBoo.ttf");
}

@font-face {
  font-family: rej;
  src: url("./fonts/Rejouice-Headline.ttf");
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
 
}

::selection{
    background-color: black;
    color: white;
    border-radius: 3rem;
}

::-webkit-scrollbar {
  display: none;
}

html,
body {
  overflow-x: hidden;
  width: 100%;
  height: 100%;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizelegibility;
  background-color: #FAF8F3;
}

/* #main{
    display: none;
    opacity: 0;
} */
.page1 {
  width: 100%;
  height: 100vh;
  position: relative;
  /* background-color: red; */
}

.page1 .movingcursor{
    position: absolute;
    width: 9vw;
    height: 9vw;
    background-color: #FF5838;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transform: translate(-50% , -50%);
    /* z-index: 35; */
}
.page1 .movingcursor button{
    color: black;
    background-color: transparent;
    outline: none;
    border: none;
    font-size: 1.2vw;
    font-weight: 600;
    font-family: nb;
}

.page1 video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.page1 .page01-text {
  position: absolute;
  top: 0;
  width: 100%;
  /* background-color: green; */
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
}

.page1 .page01-text .nav {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2vw 2vw 0vw 2vw;
  /* background-color: yellow ; */
}

.page1 .page01-text .nav h1 {
  font-size: medium;
  color: white;
  font-family: nb;
}

.page01-text .rejouicetext {
  /* background-color: red; */

  height: 15rem;
  overflow: hidden;
  width: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  gap: 1rem;
}

.page01-text .rejouicetext .wrappertext {
  font-size: 10vw;
  scale: 1.9;
  font-weight: 900;
  font-family: rej;
  /* background-color: yellow; */
  width: fit-content;
  /* height: 12rem; */
  border-radius: 2rem;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  gap: 0.6rem;
  /* height: fit-content; */
}

.page01-text .rejouicetext .wrappertext div {
  color: rgb(255, 252, 241);
}

.page2{
    width: 96%;
    height: 100vh;
    margin: 0 auto;
    background-color: #FAF8F3;
}

.page2 .page2-heading{
    padding-top: 5rem;
    padding-bottom: 2rem;
    display: flex;
   
   
    align-items: center;
    
    justify-content: space-between;
    font-family: nb;
    border-bottom: 1px solid black;
}

.page2 .page2-heading .hleft h2 , .hright h2{
    font-weight: 100;
}

.page2 .page2-content{
    width: 100%;
    /* background-color: red; */
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    padding-top: 2vw;
}

.page2 .page2-content h1{
    font-size: 4vw;
    opacity: 1;
    /* height: 0; */
    font-weight: 400;
    font-family: nb;
}

.page2 .page2-content h1:nth-child(1){
    /* text-align: right; */
    padding-left: 10vw;
    /* background-color: red; */
}

.page3 {
    width: 96%;
    margin: 0 auto;
    min-height: 100vh;
    /* background-color: red; */
    display: flex;
    align-items: center;
    justify-content: center;
}

.page3 .agency {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    /* background-color: yellow; */
    align-items: center;
    justify-content: center;
}

.page3 .agency h5 , span ,  h1{
    font-family: nb;
}

.page3 .agency h1{
    font-size: 4vw;
    font-weight: 400;
}

.page3 .agency h5{
    font-size: 1vw;
    font-weight: 100;
}

.page3 .agency h5 span{
    background-color: black;
    border-radius: 1vw;
    color: white;
    font-size:x-small;
    padding: 0.4vw;
}
.page4 {
    width: 96%;
    height: 100vh;
    margin: 0 auto;
    /* background-color: red; */
}
.page4 .page4-heading {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.page4 .page4-heading h1{
    font-size: 1.5vw;
    padding-bottom: 0.9vw;
    font-weight: 200;
}

.page4 .page4-videos{
    width: 100%;
    height: 100vh;
    /* background-color: green; */
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 1vw;
}

.page4 .page4-videos .video1{
    width: 33%;
    height: 80%;
    overflow: hidden;
    /* background-color: red; */

}

.page4 .page4-videos .video2{
    width: 33%;
    height: 80%;
    overflow: hidden;
    /* background-color: yellow; */
}

.page4 .page4-videos .video3{
    width: 33%;
    height: 80%;
    overflow: hidden;
    /* background-color: green; */
    
}

.page4 .page4-videos .vid{
    width: 100%;
    height: 80%;
    object-fit: cover;
    position: relative;
}

.page4 .page4-videos .vid img{
    position: absolute;
    top: 0;
    object-fit: cover;
    height: 100%;
    width: 100%;
    transition: all ease 1s;
}

.page4 .page4-videos .vid img:hover{
   opacity: 0;
}

.page5{
    width: 96%;
    margin: 0 auto;
   min-height: 100vh;
}

.page5 .page5-heading{
   width: 100%;
   display: flex;
   flex-direction: column;
   border-bottom: 1px solid rgb(108, 107, 107);
   padding-bottom: 1vw;
   padding-top: 2vw;
}
.page5 .page5-heading h1{
    font-size: 1.5vw;
    font-weight: 200;
}

.page5 .page5-main-content {
    width: 100%;
    height: 100%;
    /* background-color: red; */
    padding-top: 2vw;
    
}


.page5 .page5-main-content h1{
    font-size: 4vw;
    font-weight: 400;
}

.page5 .page5-main-content h1:nth-child(1){
    padding-left: 10vw;
}

.page5 .page5-blue-section {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    /* background-color: red;   */
    padding-top: 7vw;
    position: relative;
}
.page5 .page5-blue-section .cur{
    position: absolute;
    height:5vw;
    width: 5vw;
    top: 0;
    left: 0;
    transform: translate(-50% , -50%);
    background-color: black;
    border-radius: 50%;
    z-index: 90;
    display: flex;
    align-items: center;
    justify-content: center;

}

.page5 .page5-blue-section .cur p{
  color: white;
  font-family: nb;
}
.page5 .page5-blue-section .color-wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: yellow; */
    background-color: transparent;
    height: fit-content;
    border-radius: 50%;
    border: 2vw  rgb(255, 255, 255);
    /* z-index: 3; */
   
}


.page5 .page5-blue-section .color-wrapper video{
    width: 100%;
    height: 100%;
    object-fit: cover;
    scale: 1.6 ;
    position: relative;
}

.page5-blue-section .color-wrapper .video-content{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}
.color-wrapper .video-content h1{
    font-size: 4vw;
    color: white;
    font-weight: 400;
}
.color-wrapper .video-content h1,h3{
    color: white;
    font-family: nb;
}
.color-wrapper svg{
    position: absolute;
}
.color-wrapper svg:nth-child(2){
    position: absolute;
}
.video-content h1{
    height:fit-content ;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1vw;
    /* border: 1px solid black */
}
.video-content h1 div{
    /* background-color: red; */
    height: fit-content;
    flex-direction: column;
    display: flex;
    overflow: auto;
    height: 2.5vw;
}
.video-content h1 div .nu{
    font-size: 3.1vw;
    padding-top: 0.2vw;
}
.video-content h1 p {
  padding-bottom: 0.9vw;
}

.page6{
    padding-top: 10vw;
    width: 100%;
    height: 100vh;
}
.page6 .page6-top {
    display: flex;
    border-bottom: 1px solid black;
    width: 96%;
    margin: 0 auto;
    align-items: center;
    justify-content: space-between;
}

.page6 .page6-top h1{
    font-family:rej ;
    font-size: 9vw;
}

.page6 .page6-top h1:nth-child(2){
    font-size:2vw;
    font-weight: 200;
}


/* swiper code */

.swiper {
    width: 100%;
    height: 70%;
  }
  .swiper-wrapper {
    -webkit-transition-timing-function:linear!important; 
    -o-transition-timing-function:linear!important;
    transition-timing-function:linear!important; 
  }
.swiper-wrapper .swiper-slide {
    text-align: center;
    font-size: 18px;
    /* background: #473b3b; */
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
  }

 .swiper-wrapper .swiper-slide img {
    /* display: block; */
    width: 100%;
    height: 100%;
    /* height: fit-content; */
    /* object-fit: cover;    */
  }
  

  .loader{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1vw;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
    z-index: 12;
    height: 100%;
    width: 100%;
    background-color: black;
  }